cust/app/customized/SuperWallpaperEarth/SuperWallpaperEarth.apk
cust/app/customized/SuperWallpaperMars/SuperWallpaperMars.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
vendor/lib64/camera/components/com.qti.node.mialgocontrol.so
